.indexHome__section {
  padding: 60px 0;
}

.indexHome__boxTop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.indexHome__left {
  width: 100%;
  max-width: 40%;
}

.indexHome__title {
}

.indexHome__text {
}

.indexHome__btn {
  display: block;
  text-decoration: none;
}

.indexHome__right {
}

.indexHome__image {
  display: block;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.indexHome__boxCenter {
  padding: 60px 0;
}

.indexHome__searchBox {
  padding: 30px 0;
}

.indexHome__search {
  display: block;
  margin-left: auto;
  padding: 5px 7px;
  border: 1px solid black;
  border-radius: 7px;
}

.indexHome__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 40px;
}

.indexHome__item {
  position: relative;
  width: 100%;
  max-width: 420px;
}

.indexHome__play {
  position: absolute;
  top: 80px;
  right: 90px;
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 60px;
  cursor: pointer;
  border-radius: 50%;
}

.indexHome__itemLink {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 60px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
}

.indexHome__img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.indexHome__content {
  margin-bottom: 70px;
}


.indexHome__firstname, .indexHome__lastname {
  font-size: 22px;
}
