.category__section {
  padding: 80px;
}

.category__box {
  display: flex;
  flex-direction: column;
}

.category__top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.category__image {
  display: block;
  width: 400px;
  height: 400px;
}

.category__content {
}

.category__firstName,
.category__lastName {
  font-size: 28px;
}

.category__linkList {
  display: flex;
  align-items: center;
  gap: 20px;
}

.category__tel,
.category__insta {
  display: block;
  text-decoration: none;
}


.category__canter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

