.category__section {
  padding: 60px 0;
}

.category__box {
  display: flex;
  flex-direction: column;
}

.category__top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.category__image {
  display: block;
  width: 400px;
  height: 400px;
}

.category__content {
}

.category__firstName,
.category__lastName {
  font-size: 28px;
}

.category__tel {
  display: block;
  font-size: 28px;
  text-decoration: none;
}

.category__canter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 60px 0;
  list-style-type: none;
}

.category__item {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
}

.category__musicImg {
  display: block;
  width: 160px;
  height: 160px;
}

.category__musicBox {
  width: 100%;
  padding: 0 20px;
}

.category__playBtn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.category__playImg {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.category__detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.category__musicText {
  margin: 0;
}

.category__time {
  display: block;
}

.category__wave {
  display: block;
}
