.header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__left {
}

.header__logoLink {
  display: block;
  text-decoration: none;
}

.header__image {
  display: block;
  width: 200px;
  height: 30px;
}

.header__right {
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.header__item {
}

.link__line {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  transition: all 0.3s ease;
}

.header__link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration: none;

  &:nth-child(1):hover {
    .link__line {
      width: 100%;
    }
  }
}

.search__box {
  position: relative;
  width: 214px;
  height: 38px;
}

.header__searchIcon {
  position: absolute;
  top: 10px;
  right: 12px;
}

.header__search {
  width: 100%;
  padding: 11px 36px 11px 12px;
  border-radius: 15px;
  border: 0.3px solid #000;
  background: #e2e2e2;

  &::placeholder {
    color: #000;
    font-size: Jeko-Bold;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
  }
}

.header__linkList {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__tel,
.header__insta {
  display: block;
  text-decoration: none;
}
